<!DOCTYPE html>
<html ng-app="p">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<meta name="viewport" content="initial-scale=1, width=device-width">
<title>Reddit NSFW Gallery | Petite - FappityFap</title>
<meta name="keywords" content="reddit nsfw, nsfw reddit, r/Petite, Petite">	
<meta name="description" content="All the latest posts to Reddit r/Petite on Fappityfap. A Reddit nsfw image and video gallery for your enjoyment.">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.min.js"></script>
<link
	href="//fonts.googleapis.com/css?family=Alegreya+Sans:400,700&amp;subset=latin,latin-ext"
	rel="stylesheet">
	<!-- Plugins -->
<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
<!-- Font Awesome CSS -->
<link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Fontello CSS -->
<link href="../fonts/fontello/css/fontello.css" rel="stylesheet">

<link href="../plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="../plugins/rs-plugin/css/settings.css" rel="stylesheet">
<link href="../css/animate.css" rel="stylesheet">
<link href="../plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
<link href="../plugins/hover/hover-min.css" rel="stylesheet">		
<link href="../plugins/jasny-bootstrap/css/jasny-bootstrap.css" rel="stylesheet">

<!-- fappityfap CSS file -->
<link href="../css/mystyle4.css" rel="stylesheet" >
<script type="text/javascript" src="../js/fappityJS_12_3.js"></script>

</head>
<body style="background-color: #000000;">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TNDXFT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TNDXFT');</script>
<!-- End Google Tag Manager -->
	<div class="navbar-wrapper">
<!-- Offcanvas side start -->
			<div class="offcanvas-container">
			<nav class="navbar navbar-fixed-top" role="navigation">					
		     </nav>
		      <!-- /.navbar-header -->
						<nav id="offcanvas" class="animated navmenu navmenu-default navmenu-fixed-right offcanvas offcanvas-right" role="navigation">
					<!-- div style="text-align:center;">
						<h1 style="color:#fff; font-size:30px;">Reddit NSFW</h1>
					</div -->											
					<ul id="ul-navbar" class="nav navbar-nav text-center" style="padding-top:5px;">				         		         				          				       
					</ul>				
			</nav>
			<button type="button" class="offcanvas-toggle-right navbar-toggle" data-toggle="offcanvas" data-target="#offcanvas"></button>
			
		</div>			 
		<!-- offcanvas side end -->
	</div>
<ul id="nav-list" ng-controller="n">
		
	</ul>
	<div ng-cloak ng-controller="f">
		<div class="flash" ng-repeat="m in Flash.InfoMessages track by $index">{{m.text}}</div>
		<div class="flash flash-warn"
			ng-repeat="m in Flash.WarnMessages track by $index">{{m.text}}</div>
		<div class="flash flash-error"
			ng-repeat="m in Flash.ErrorMessages track by $index">{{m.text}}</div>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading text-center"
			style="background-color: #000000;">
			<h1 style="color: #ffffff">r/Petite</h1>
			<div class="row">
				<div class="col-md-6 col-md-offset-3" style="padding-left:15px;">
					<h5>Petite girls for the masses.</h5>
				<a href="#" style="color: #0c9ec7; margin-left:10px;" data-toggle="modal" 
    data-target="#myModal" onClick="ga('send', 'event', 'tips-modal', 'click' , 'hugeboobvideos-modal');">What is this?</a>
				</div>
			</div>
			
	</div>
</div>

<div id="fapLinks"></div><div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;">
        <button type="button" style="color:#fff; background:transparent;" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">FappityFap | Reddit NSFW Gallery</h4>
      </div>
      <div class="modal-body">
        <h6 >1. You're viewing this NSFW community's "Hot Posts" list, fetched from Reddit and updated everytime you visit the page. </h6 ><h6 >2. Click on any image/post to view the source.</h6>
			 
			<h6 >3. Click on comments to view or join the discussion on Reddit.</h6>
			<h6>4. Fap away!</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload();return false;">Got it!</button>
      </div>
    </div>

  </div>
</div>
	<div id="content" ng-view></div>

<script>
	navbarinit();
	
	
	var promoLinkText1 = "Petite Porn Videos - Redtube";
	var promoLinkAddress1 = "http://www.redtube.com/?search=petite";
	var promoLinkText2 = "Petite Porn Videos - Xhamster";
	var promoLinkAddress2 = "http://xhamster.com/search.php?from=&q=petite&qcat=video";
	var promoLinkText3 = "Petite Porn Videos - Pornhub";
	var promoLinkAddress3 = "http://www.pornhub.com/video/search?search=petite";
	promoLinks(promoLinkText1, promoLinkAddress1, promoLinkText2, promoLinkAddress2, 
		promoLinkText3, promoLinkAddress3,  promoLinkText3, promoLinkAddress3);
	
	
	document.getElementById("petite").classList.add("active");
	document.getElementById("collapse4").classList.add("in");
	document.getElementById("bodytype-panel").classList.add("active-panel");

	    app = angular.module("p", ["LocalStorageMDL", "ngRoute", "ngSanitize"]);
	    app.directive("buttonBar", function() {
	    });
	    var subname = "petite";
	    app.constant("subredditName", "petite".split(" "));
	    app.controller("f", ["$scope", "Flash",
	        function(b, a) {
	            b.Flash = a
	        }
	    ]);
	    fappity();
	</script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="plugins/modernizr.js"></script>

	<!-- jQuery Revolution Slider  -->
	<script type="text/javascript" src="../plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="../plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Jasny Bootstrap  -->
	<script type="text/javascript" src="../plugins/jasny-bootstrap/js/jasny-bootstrap.js"></script>

	<!-- Isotope javascript -->
	<script type="text/javascript" src="../plugins/isotope/isotope.pkgd.min.js"></script>

	<!-- Magnific Popup javascript -->
	<script type="text/javascript" src="../plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Appear javascript -->
	<script type="text/javascript" src="../plugins/waypoints/jquery.waypoints.min.js"></script>

	<!-- Count To javascript -->
	<script type="text/javascript" src="../plugins/jquery.countTo.js"></script>



	<!-- SmoothScroll javascript -->
	<script type="text/javascript" src="../plugins/jquery.browser.js"></script>

	<!-- Initialization of Plugins -->
	<script type="text/javascript" src="../js/fappityfap.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59846198-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>



	var lastaccordion = $('#collapse4');


	$('#accordion1 > .panel').on('show.bs.collapse', function (e) {

	    var heading = $(this).find('.panel-heading');
		heading.addClass("active-panel");



	});

	$('#accordion1 > .panel').on('hidden.bs.collapse', function (e) {
	    var heading = $(this).find('.panel-heading');
		heading.removeClass("active-panel");

	});
	</script>

		<noscript>
			<div id="no-js">
			</div>
		</noscript>
	</body>
	</html>